{% extends "base.html" %}
<!---->
{% block title %}Cupcakes Homepage{% endblock %}
<!---->
{% block content %}
<form id="form-search">
  <input id="form-search__input-flavor" type="text" placeholder="Search" />
  <button type="submit"><i class="bi bi-search"></i></button>
</form>
<h1>Cupcakes</h1>
<ul id="cupcake-list"></ul>
<form id="form-cupcake" action="/api/cupcakes" method="post">
  <div>
    <label for="form-cupcake__input-flavor">Flavor:</label>
    <input id="form-cupcake__input-flavor" type="text" name="flavor" required />
  </div>
  <div>
    <label for="form-cupcake__input-size">Size:</label>
    <input id="form-cupcake__input-size" type="text" name="size" required />
  </div>
  <div>
    <label for="form-cupcake__input-rating">Rating:</label>
    <input id="form-cupcake__input-rating" type="number" name="rating" required />
  </div>
  <div>
    <label for="form-cupcake__input-image">Image:</label>
    <input id="form-cupcake__input-image" type="url" name="image" />
  </div>
  <button type="submit">Submit</button>
</form>
{% endblock %}
<!---->
{% block scripts %}
<script src="/static/home.js"></script>
{% endblock %}
